
<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" dir="ltr" xmlns:article="http://ogp.me/ns/article#" xmlns:book="http://ogp.me/ns/book#" xmlns:product="http://ogp.me/ns/product#" xmlns:profile="http://ogp.me/ns/profile#" xmlns:video="http://ogp.me/ns/video#" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# "><!--<![endif]-->
<head>



	<title><%=title %></title>

	<link rel="stylesheet" href="/assets/css/css_1.css?oqvwy5" media="all" />
	<link rel="stylesheet" href="/assets/css/css_2.css?oqvwy5" media="all" />


	<link rel="shortcut icon" type="image/x-icon" href="//webassets.desk.com/resources/images/icons/favicon.ico">
	<link rel="apple-touch-icon" href="//webassets.desk.com/resources/images/icons/favicon-apple-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//webassets.desk.com/resources/images/icons/favicon-apple-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//webassets.desk.com/resources/images/icons/favicon-apple-114x114.png">
	<link rel="apple-touch-icon-precomposed" href="//webassets.desk.com/resources/images/icons/favicon-apple-57x57.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//webassets.desk.com/resources/images/icons/favicon-apple-72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//webassets.desk.com/resources/images/icons/favicon-apple-114x114.png">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	
<!--[if lte IE 8]>
<script src="/sites/default/files/js/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js"></script>
<![endif]-->


	<script src="https://use.typekit.net/bsh2tmy.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<script type="text/javascript" src="https://webassets.desk.com/assets/js/jquery-1.11.2.min.js?v=9.2" ></script>

		<meta name="google-site-verification" content="hPI4faJVBnFgzJlIgSQxBx_xw5DU2htxiOVrJTPValM" />

		<meta name="google-site-verification" content="_ujIDhPnl4kxPtTNnayXoWi9ubAsDCsf5ECfOOTBAyc" />

	
</head>
<body class="path-node page-node-type-page page page-product page__product page-inner">

	

<!-- ========================================

	Header

========================================= -->

<header role="banner">

	
			
<div
			data-phase="one"
			class="navbar navbar-default navbar-desk navbar-desk-desktop navbar-fixed-top navbar-no-hero "
		>
			<div class="container" id="primary-nav">
				
				<nav role="navigation" class="navbar-collapse collapse">
					<ul class="nav navbar-nav" style="width: 100%">
						<li class="link-pricing">
							<a href="/">
								<span class="link-title">
									首页
								</span>
							</a>
						</li>
						<li class="link-pricing">
							<a href="/teachers">
								<span class="link-title">
									北美师资
								</span>
							</a>
						</li>
						<li class="link-pricing">
							<a href="#">
								<span class="link-title">
									课程介绍
								</span>
							</a>
						</li>
						<li class="link-pricing">
							<a href="#">
								<span class="link-title">
									游学服务
								</span>
							</a>
						</li>
						<li class="link-pricing">
							<a href="/about">
								<span class="link-title">
									关于加舟
								</span>
							</a>
						</li>
						<li class="link-contact dropdown last" style="float:right;">
							<a href="#">
								<span class="icon-wrap">
									<span class="icon icon-phone"></span>
								</span>
							</a>
							<ul class='dropdown-menu list-unstyled dropdown-simple'>
								<li>
									<a href="tel:1-877-226-9212" class="link--phone-number">
										<span class='text'>1-877-226-9212</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="link-free-trial" style="float:right;">
							<a href="#" onclick="_gaq.push(['assistly._trackEvent', 'Main Nav', 'Free Trial', 'Free Trial']);">
								<span class="link-title">
									登陆注册
								</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	
	
			
<div class="jumbotron jumbotron-default woodgrain">
	<div class="container">
				<h1 class="jumbotron__heading">
							关于加舟
					</h1>
		<p class="lead jumbotron__subheading">
			Move cases quickly to resolution with intelligent case management.		</p>
					</div>
				<div class="jumbotron-fade-top"></div>
		<div class="jumbotron-fade-bottom"></div>
	</div>	
	
			<div id="block-bolt-breadcrumbs">
  
    
      <div class="section section-breadcrumbs">
	<div class="container">
		<ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<li  itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
								<a href="/" itemprop="item">
					<span itemprop="name">
						Home
					</span>
				</a>
								<meta itemprop="position" content="1">
			</li>
						<li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
								<span itemprop="item">
					<span itemprop="name">
						About Us
					</span>
				</span>
								<meta itemprop="position" content="3">
			</li>
					</ol>
	</div>
</div>

  </div>

	
</header>

	


	<main
		role="main"
		class=" container "
	>
					  <div>
    <div id="block-bolt-content">
  
    
      

	

<article  data-history-node-id="40" role="article" about="/product/cases" typeof="schema:WebPage" class="node--type-page node--view-mode-full content content--page page">
	<div class="content__body">
		<span class="content__main">
			            <div class="media media-with-border">
<div class="media-body">

<h2>Our Story</h2>

<p>2016年，一群毕业于国内外名校、同在北美教育领域工作的年轻人，因为共同的梦想，齐聚多伦多，创立了加舟英语。我们深知国内英语教育弊端的同时，熟悉北美教育体系的特点，致力于研究真正适合中国学员的英语在线教育培训方法。我们希望身后继往开来的同学们，不再视英语如虎，英语技能轻松get！
</p>
</div>

<div class="media-right"><img alt="Track all channels in one place" class="img-responsive thumbnail thumbnail-lg" src="https://webassets.desk.com/static/images/pages/features/cases/cases-management-channels.jpg" style="border: none;" /></div>
</div>

<div class="media media-with-border">
<div class="media-left"><img alt="Stay organized with filters" class="img-responsive thumbnail thumbnail-lg" src="https://webassets.desk.com/static/images/pages/features/cases/cases-management-filters.jpg" style="border: none;" /></div>

<div class="media-body">

<h2>Our Mission</h2>

<p>我们坚持品质高于一切，我们相信口碑说明一切。我们的目标，不仅仅是让孩子说一口地道的北美英语，我们更希望，通过掌握英语这门工具，孩子们能深刻体验到北美教育体系的魅力，学习艺术、地理、自然科学等更多其他方面的知识，深入了解北美文化，为将来的出国、留学打开新的大门，放飞新的梦想！</p></div>
</div>

<div class="media media-with-border">
<div class="media-body">

<h2>Our Promises</h2>
<p>加舟英语聘请的所有教师均为美国、加拿大具有纯正北美口音的本土白人老师。</p>
<p>加舟英语提供合理的外教更换申请和无条件退款保障机制，最大限度免除学员的后顾之忧。</p>
<p>加舟英语为新朋友提供免费试听机会，并通过开设微信公开课等形式，全方位满足学员需求。</p>
</div>

<div class="media-right"><img alt="Communicate with your team easily" class="img-responsive thumbnail thumbnail-lg" src="https://webassets.desk.com/static/images/pages/features/cases/cases-management-collaboration.jpg" style="border: none;" /></div>
</div>



      
		</span>
	</div>
</article>

  </div>

  </div>

			</main>

	
	

   <!-- =======================================

	Mobile navigation

======================================== -->

<script id="tpl_primary_nav_mobile" type="text/x-handlebars-template">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="menu-text sr-only">
				Toggle menu
			</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
					<img src="/assets/img/jiazhou-logo.png" alt="Desk.com" id="brand" width="200" height="72" />
					</a>
	</div>
	<div class="sidr" id="sidr">
		<nav role="navigation">
			<ul class="nav">
				<li class="link ">
					<a href="#">
						<span class="icon-wrap">
							<span class="sl-icon" data-sl-icon=""></span>
						</span>
						<span class="link-title">
							北美师资
						</span>
					</a>
				</li>
				<li class="link ">
					<a href="#">
						<span class="icon-wrap">
							<span class="sl-icon" data-sl-icon=""></span>
						</span>
						<span class="link-title">
							课程介绍
						</span>
					</a>
				</li>
				<li class="link ">
					<a href="#">
						<span class="icon-wrap">
							<span class="sl-icon" data-sl-icon=""></span>
						</span>
						<span class="link-title">
							游学服务
						</span>
					</a>
				</li>
				<li class="link ">
					<a href="#">
						<span class="icon-wrap">
							<span class="sl-icon" data-sl-icon=""></span>
						</span>
						<span class="link-title">
							关于加舟
						</span>
					</a>
				</li>

			</ul>
		</nav>
	</div>
</script>
  </div>

	<!-- ========================================

		Footer

	========================================= -->

	<footer role="contentinfo" id="primary-site-footer">
		<div class="section section-blue-gray section-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-sm-3 col-xs-12 link-group">
								<a href="#">
									<img src="/assets/img/jiazhou-logo.png" width="100%" height="100%" />
								</a>
							</div>
							<div class="col-lg-2 col-sm-2 col-xs-12 link-group">
								<a href="http://www.zoomvip.cn/">
									<img src="http://www.zoomvip.cn/images/zoom.png" class="img-responsive center-block" />
								</a>
								<p class="text-center"> DownLoad Zoom</p>
							</div>
							<div class="col-lg-2 col-sm-2 col-xs-12 link-group">
								<ul class="list-inline navbar-btn" id="social-links" style="margin:0 auto;display:table">
									<li>
										<a href="http://www.twitter.com/desk">
											<span class="icon-circle icon-circle-twitter">
												<i class="fa fa-twitter"></i>
											</span>
											<span class="text-center">
												&nbsp;淘宝
											</span>
										</a>
									</li>
									<li>
										<a href="http://www.facebook.com/desk">
											<span class="icon-circle icon-circle-facebook">
												<i class="fa fa-facebook"></i>
											</span>
											<span class="text-center">
												&nbsp;微博
											</span>
										</a>
									</li>
								</ul>
								
							</div>
							<div class="col-lg-3 col-sm-3 col-xs-12 link-group left-block">
								
								<a href="#">
									<img src="/assets/img/erweima.png"  class="img-responsive center-block"/>
								</a>
								<span class="text-center"><p>微信扫一扫关注我们</p></span>
							</div>
							<div class="col-lg-2 col-sm-2 col-xs-12 link-group">
								<span class="text-center" style="font-size:20px">
									预约听课:<br/>
									400-100-8888
								</span>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</footer>


<script src="/assets/js//js_-TdbR11JUx0KVGg_dvNTF70iNiE72TEVD_uIJ1Ndxgs.js"></script>


<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"ebda324fbb","applicationID":"24601551","transactionName":"YFdUYxRUCEUCWk0IXlkdd1QSXAlYTElYBlRoUVdUDlA=","queueTime":0,"applicationTime":28,"atts":"TBBXFVxOG0s=","errorBeacon":"bam.nr-data.net","agent":""}</script></body>
</html>