<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" dir="ltr" xmlns:article="http://ogp.me/ns/article#" xmlns:book="http://ogp.me/ns/book#" xmlns:product="http://ogp.me/ns/product#" xmlns:profile="http://ogp.me/ns/profile#" xmlns:video="http://ogp.me/ns/video#" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# "><!--<![endif]-->
<head>



	<title><%=title %></title>

	<link rel="stylesheet" href="/assets/css/css_1.css?oqvwy5" media="all" />
	<link rel="stylesheet" href="/assets/css/css_3.css?oqvwy5" media="all" />


	<link rel="shortcut icon" type="image/x-icon" href="//webassets.desk.com/resources/images/icons/favicon.ico">
	<link rel="apple-touch-icon" href="//webassets.desk.com/resources/images/icons/favicon-apple-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//webassets.desk.com/resources/images/icons/favicon-apple-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//webassets.desk.com/resources/images/icons/favicon-apple-114x114.png">
	<link rel="apple-touch-icon-precomposed" href="//webassets.desk.com/resources/images/icons/favicon-apple-57x57.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//webassets.desk.com/resources/images/icons/favicon-apple-72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//webassets.desk.com/resources/images/icons/favicon-apple-114x114.png">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	
<!--[if lte IE 8]>
<script src="/assets/js/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js"></script>
<![endif]-->


	<script src="https://use.typekit.net/bsh2tmy.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<script type="text/javascript" src="/assets/js/jquery-1.11.2.min.js?v=9.2" ></script>

		<meta name="google-site-verification" content="hPI4faJVBnFgzJlIgSQxBx_xw5DU2htxiOVrJTPValM" />

		<meta name="google-site-verification" content="_ujIDhPnl4kxPtTNnayXoWi9ubAsDCsf5ECfOOTBAyc" />

	
</head>
<body class="path-node page-node-type-page page container-lg customer-index page--customers is-desktop">
			
	

<!-- ========================================

	Header

========================================= -->

<header role="banner">

	
			
<div
			data-phase="one"
			class="navbar navbar-default navbar-desk navbar-desk-desktop navbar-fixed-top navbar-no-hero "
		>
			<div class="container" id="primary-nav">
				
				<nav role="navigation" class="navbar-collapse collapse">
					<ul class="nav navbar-nav" style="width: 100%">
						<li class="link-pricing">
							<a href="/">
								<span class="link-title">
									首页
								</span>
							</a>
						</li>
						<li class="link-pricing">
							<a href="/teachers">
								<span class="link-title">
									北美师资
								</span>
							</a>
						</li>
						<li class="link-pricing">
							<a href="#">
								<span class="link-title">
									课程介绍
								</span>
							</a>
						</li>
						<li class="link-pricing">
							<a href="#">
								<span class="link-title">
									游学服务
								</span>
							</a>
						</li>
						<li class="link-pricing">
							<a href="/about">
								<span class="link-title">
									关于加舟
								</span>
							</a>
						</li>
						<li class="link-contact dropdown last" style="float:right;">
							<a href="#">
								<span class="icon-wrap">
									<span class="icon icon-phone"></span>
								</span>
							</a>
							<ul class='dropdown-menu list-unstyled dropdown-simple'>
								<li>
									<a href="tel:400-100-1111" class="link--phone-number">
										<span class='text'>tel:400-100-1111</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="link-free-trial" style="float:right;">
							<a href="#" onclick="_gaq.push(['assistly._trackEvent', 'Main Nav', 'Free Trial', 'Free Trial']);">
								<span class="link-title">
									登陆注册
								</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	
	
			
<div class="jumbotron jumbotron-default woodgrain">
	<div class="container">
				<h1 class="jumbotron__heading">
							北美师资
					</h1>
		<p class="lead jumbotron__subheading">
			The good teacher explains. The superior teacher demonstrates. The great teacher inspires.		</p>
					</div>
				<div class="jumbotron-fade-top"></div>
		<div class="jumbotron-fade-bottom"></div>
	</div>	
	
			<div id="block-bolt-breadcrumbs">
  
    
      <div class="section section-breadcrumbs">
	<div class="container">
		<ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<li  itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
								<a href="/" itemprop="item">
					<span itemprop="name">
						Home
					</span>
				</a>
								<meta itemprop="position" content="1">
			</li>
						<li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
								<span itemprop="item">
					<span itemprop="name">
						About Us
					</span>
				</span>
								<meta itemprop="position" content="3">
			</li>
					</ol>
	</div>
</div>

  </div>

	
</header>

	




	<main
		role="main"
		class=""
	>
					  <div>
    <div id="block-bolt-content">
  
    
      
<style type="text/css">
	.thumbnail-wrap img {
		height: auto;
	}
</style>
  </div>
<div class="views-element-container" id="block-views-block-customers-featured-customers-featured">
  
    
      <div><div class="js-view-dom-id-097a5dbef62c783449794470cc9e7acf20f53939a4a430f4c26b3e3e1389e136">
  
  

<div class="section section-grey">
	<div class="container">
		<p class="lead text-center customer-landing-blurb">
			加舟英语的老师，需要的不仅仅是来自北美地区，拥有高等教育学历、名校毕业背景，也不仅仅需要丰富的教学经验，获得多方认证。
		<br/>
			更重要的是，加舟英语的老师，必须有一颗爱孩子的心。他们努力创造活泼、轻松的课堂环境，他们关心孩子们生活中的点点滴滴，他们用心倾听孩子们的每一个声音，他们激励孩子们课堂课外上的每一步成长，他们和孩子们一起努力，共同学习。
		</p>
		<div class="row">
							<article class="customer-feature col-lg-4 col-md-4 col-sm-6 col-xs-6">
	<a href="#">
		<figure class="thumbnail">
			<div class="thumbnail-wrap">
				<div class="overlay">
					<div class="table">
						<div class="table-cell">
							<p>
								&#8220;Desk.com helps us deliver customer service that is not support - it&#039;s a long term relationship.&#8221;
							</p>
						</div>
					</div>
				</div>
									  <img src="/assets/img/asana-index%402x.jpg" width="528" height="528" alt="Asana" typeof="foaf:Image" />


							</div>
			<div class="caption">
				<h3 class="customer-feature-title">
					<a href="#" hreflang="en">Brendan</a>
				</h3>
				<p class="customer-feature-excerpt visible-xl visible-lg visible-md text-left">
					<em>加拿大安省教育协会的注册教师</em><br/>本科就读于主修语言和艺术的劳里埃大学，从事过五年教学工作，目前在滑铁卢大学攻读教育专业硕士研究生。Brendan具有浑厚且带着磁性的嗓音，擅长调动课堂气氛，与学员互动，教学经验丰富。
				</p>
			</div>
		</figure>
	</a>
</article>
							<article class="customer-feature col-lg-4 col-md-4 col-sm-6 col-xs-6">
	<a href="/customers/herschel-supply">
		<figure class="thumbnail">
			<div class="thumbnail-wrap">
				<div class="overlay">
					<div class="table">
						<div class="table-cell">
							<p>
								&#8220;With Desk.com we provide the same level of service as companies with much bigger teams.&#8221;
							</p>
						</div>
					</div>
				</div>
									  <img src="/assets/img/herschel-index%402x.jpg" width="528" height="528" alt="" typeof="foaf:Image" />


							</div>
			<div class="caption">
				<h3 class="customer-feature-title">
					<a href="/customers/herschel-supply" hreflang="en">Joana</a>
				</h3>
				<p class="customer-feature-excerpt visible-xl visible-lg visible-md text-left">
					<em>加拿大私立学校的在校教师</em><br/>Joana老师的父母均是安大略省当地私立学校的教师，Joana从小耳濡目染，12岁开始就给更低年级的孩子辅导功课，毕业后也成为一名出色的老师。
				</p>
			</div>
		</figure>
	</a>
</article>
							<article class="customer-feature col-lg-4 col-md-4 col-sm-6 col-xs-6">
	<a href="/customers/hoteltonight">
		<figure class="thumbnail">
			<div class="thumbnail-wrap">
				<div class="overlay">
					<div class="table">
						<div class="table-cell">
							<p>
								&#8220;When we implemented Desk.com we were up and running inside a few days.&#8221;
							</p>
						</div>
					</div>
				</div>
									  <img src="/assets/img/hoteltonight-app-index.jpg" width="528" height="528" alt="" typeof="foaf:Image" />


							</div>
			<div class="caption">
				<h3 class="customer-feature-title">
					<a href="/customers/hoteltonight" hreflang="en">Rebecca</a>
				</h3>
				<p class="customer-feature-excerpt visible-xl visible-lg visible-md text-left">
					<em>加拿大公立学校的在校教师</em><br/>Rebecca老师温柔和蔼，具有公立学校十年的工作经历。她在教学的过程中，善于观察并引导孩子，尤其是不爱说话、不敢开口的孩子，对于学习英语的同时需要提高自信的孩子，Rebecca老师可是非常有经验的！
				</p>
			</div>
		</figure>
	</a>
</article>
							<article class="customer-feature col-lg-4 col-md-4 col-sm-6 col-xs-6">
	<a href="/customers/luxe">
		<figure class="thumbnail">
			<div class="thumbnail-wrap">
				<div class="overlay">
					<div class="table">
						<div class="table-cell">
							<p>
								&#8220;Our business helps busy people save time, so fast service with Desk.com is critical.&#8221;
							</p>
						</div>
					</div>
				</div>
									  <img src="/assets/img/luxe-index%402x.jpg" width="528" height="528" alt="" typeof="foaf:Image" />


							</div>
			<div class="caption">
				<h3 class="customer-feature-title">
					<a href="/customers/luxe" hreflang="en">Clare</a>
				</h3>
				<p class="customer-feature-excerpt visible-xl visible-lg visible-md text-left">
					<em>毕业于多伦多大学艺术系</em><br/>Clare具有多年的ESL教学经验，擅长与英语基础比较薄弱的孩子沟通、交流。Clare老师注重孩子的语言和艺术培养，善于通过激发孩子的好奇心来培养学习兴趣。
				</p>
			</div>
		</figure>
	</a>
</article>
							<article class="customer-feature col-lg-4 col-md-4 col-sm-6 col-xs-6">
	<a href="/customers/luxe">
		<figure class="thumbnail">
			<div class="thumbnail-wrap">
				<div class="overlay">
					<div class="table">
						<div class="table-cell">
							<p>
								&#8220;Our business helps busy people save time, so fast service with Desk.com is critical.&#8221;
							</p>
						</div>
					</div>
				</div>
									  <img src="/assets/img/luxe-index%402x.jpg" width="528" height="528" alt="" typeof="foaf:Image" />


							</div>
			<div class="caption">
				<h3 class="customer-feature-title">
					<a href="/customers/luxe" hreflang="en">Clare</a>
				</h3>
				<p class="customer-feature-excerpt visible-xl visible-lg visible-md text-left">
					<em>毕业于多伦多大学艺术系</em><br/>Clare具有多年的ESL教学经验，擅长与英语基础比较薄弱的孩子沟通、交流。Clare老师注重孩子的语言和艺术培养，善于通过激发孩子的好奇心来培养学习兴趣。
				</p>
			</div>
		</figure>
	</a>
</article>
							<article class="customer-feature col-lg-4 col-md-4 col-sm-6 col-xs-6">
	<a href="/customers/luxe">
		<figure class="thumbnail">
			<div class="thumbnail-wrap">
				<div class="overlay">
					<div class="table">
						<div class="table-cell">
							<p>
								&#8220;Our business helps busy people save time, so fast service with Desk.com is critical.&#8221;
							</p>
						</div>
					</div>
				</div>
									  <img src="/assets/img/luxe-index%402x.jpg" width="528" height="528" alt="" typeof="foaf:Image" />


							</div>
			<div class="caption">
				<h3 class="customer-feature-title">
					<a href="/customers/luxe" hreflang="en">Clare</a>
				</h3>
				<p class="customer-feature-excerpt visible-xl visible-lg visible-md text-left">
					<em>毕业于多伦多大学艺术系</em><br/>Clare具有多年的ESL教学经验，擅长与英语基础比较薄弱的孩子沟通、交流。Clare老师注重孩子的语言和艺术培养，善于通过激发孩子的好奇心来培养学习兴趣。
				</p>
			</div>
		</figure>
	</a>
</article>

					</div>
	</div>
</div>
  
  

  
  

  
  
</div>
</div>

</div>

</div>

	

   <!-- =======================================

	Mobile navigation

======================================== -->

<script id="tpl_primary_nav_mobile" type="text/x-handlebars-template">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="menu-text sr-only">
				Toggle menu
			</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
					<img src="/assets/img/jiazhou-logo.png" alt="Desk.com" id="brand" width="200" height="72" />
					</a>
	</div>
	<div class="sidr" id="sidr">
		<nav role="navigation">
			<ul class="nav">
				<li class="link ">
					<a href="#">
						<span class="icon-wrap">
							<span class="sl-icon" data-sl-icon=""></span>
						</span>
						<span class="link-title">
							北美师资
						</span>
					</a>
				</li>
				<li class="link ">
					<a href="#">
						<span class="icon-wrap">
							<span class="sl-icon" data-sl-icon=""></span>
						</span>
						<span class="link-title">
							课程介绍
						</span>
					</a>
				</li>
				<li class="link ">
					<a href="#">
						<span class="icon-wrap">
							<span class="sl-icon" data-sl-icon=""></span>
						</span>
						<span class="link-title">
							游学服务
						</span>
					</a>
				</li>
				<li class="link ">
					<a href="#">
						<span class="icon-wrap">
							<span class="sl-icon" data-sl-icon=""></span>
						</span>
						<span class="link-title">
							关于加舟
						</span>
					</a>
				</li>

			</ul>
		</nav>
	</div>
</script>
  </div>

	<!-- ========================================

		Footer

	========================================= -->

	<footer role="contentinfo" id="primary-site-footer">
		<div class="section section-blue-gray section-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-sm-3 col-xs-12 link-group">
								<a href="#">
									<img src="/assets/img/jiazhou-logo.png" width="100%" height="100%" />
								</a>
							</div>
							<div class="col-lg-2 col-sm-2 col-xs-12 link-group">
								<a href="http://www.zoomvip.cn/">
									<img src="http://www.zoomvip.cn/images/zoom.png" class="img-responsive center-block" />
								</a>
								<p class="text-center"> DownLoad Zoom</p>
							</div>
							<div class="col-lg-2 col-sm-2 col-xs-12 link-group">
								<ul class="list-inline navbar-btn" id="social-links" style="margin:0 auto;display:table">
									<li>
										<a href="http://www.twitter.com/desk">
											<span class="icon-circle icon-circle-twitter">
												<i class="fa fa-twitter"></i>
											</span>
											<span class="text-center">
												&nbsp;淘宝
											</span>
										</a>
									</li>
									<li>
										<a href="http://www.facebook.com/desk">
											<span class="icon-circle icon-circle-facebook">
												<i class="fa fa-facebook"></i>
											</span>
											<span class="text-center">
												&nbsp;微博
											</span>
										</a>
									</li>
								</ul>
								
							</div>
							<div class="col-lg-3 col-sm-3 col-xs-12 link-group left-block">
								
								<a href="#">
									<img src="/assets/img/erweima.png"  class="img-responsive center-block"/>
								</a>
								<span class="text-center"><p>微信扫一扫关注我们</p></span>
							</div>
							<div class="col-lg-2 col-sm-2 col-xs-12 link-group">
								<span class="text-center" style="font-size:20px">
									预约听课:<br/>
									400-100-8888
								</span>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</footer>


<script src="/assets/js/js_-TdbR11JUx0KVGg_dvNTF70iNiE72TEVD_uIJ1Ndxgs.js"></script>


<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"ebda324fbb","applicationID":"24601551","transactionName":"YFdUYxRUCEUCWk0IXlkdd1QSXAlYTElYBlRoUVdUDlA=","queueTime":0,"applicationTime":28,"atts":"TBBXFVxOG0s=","errorBeacon":"bam.nr-data.net","agent":""}</script>

</body>
</html>